body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/*--Navbar start--*/
.navbar{
    width: 100%;
}
.menu{
    width: 50%;
    float: right;
}

.menu ul{
    margin: 0px;
    padding: 0px;
}

.menu ul li{
    float: left;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 30px 30px;
    font-weight: 550;
    color: #0068BB;
}
/*--navbar end--*/

/*--banner start--*/
.container{
    width: 100%;
    height: 550px;
    margin-bottom: 100px;
    display: flex;
}

.text{
    margin: 70px 40px auto 100px;
}

.text h1{
    font-size: 40pt;
    font-weight: 700;
}

.dfr-color{
    color: #0068BB;
}

.text p{
    font-size: 15pt;
}

.button{
    display: inline-block;
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(to left, #0068BB, #359ed6);
}

.button a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.half-width-left{
    width: 50%;
    

}

.half-width-right{
    width: 50%;
}

.half-width-right img{
    width: 80%;
}
/*--banner end--*/

/*--about us section start--*/

.about-us{
    width: 100%;
    height: 90%;
    display: flex;
    background-image: url("./images/shapes/about-us-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-about{
    margin: 100px 120px auto 50px;
}

.text-about p{
    font-size: 15pt;
}
.food-style{
    text-decoration: none;
    font-weight: bold;
    color: #0068BB;
}

.half-width-left img{
    height: 440px;
    margin: 54px auto 0px 100px;
}


/*--about us section end--*/

/*--Our Recipies start--*/
.r-heading{
    width: 50%;
    margin: 0% 25% 5% 25%;
    text-align: center;
}

.recipies{
    width: 100%;
    display: flex;
    margin-bottom: 100px;
}

.recipy-item{
    width: 27%;
    height: 500px;
    margin: auto 3% auto 3%;
    border-radius: 20px;
    box-shadow: 5px 10px 10px black;
}

.recipy-item img{
    width: 90%;
    margin: 5% 5% auto 5%;
    clip-path: circle(80%);
}

.r-content{
    text-align: left;
    margin: 30px 15px auto 15px;
}
/*--Our Recipies end--*/

/*--social result start--*/

.social-result{
    width: 80%;
    height: 200px;
    margin: 10% 10%;
    border-radius: 30px;
    box-shadow: 5px 5px 40px 5px black;
    display: flex;
}

.results{
    width: 33.33%;
    text-align: center;
}

.results h1{
    margin-top: 65px;
}
/*--social result end--*/

/*--footer--*/
.footer{
    width: 100%;
    height: 170px;
    background-color: rgb(12, 10, 10);
    text-align: center;
    color: white;
}

.f-name{
    width: 100%;
    height: 50%;
    display: inline-block;
}

.f-name h2{
    margin-top: 25px;
}

.dfr-color-2{
    color: #359ed6;
}

.copyright{
    width: 100%;
    height: 20%;
    font-size: 10pt;
}

.copyright p{
    margin-top: 20px;
}